<div class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-primary" style="max-width: 60rem;">
    <div class="panel-heading" style="max-width: 60rem;">
      <h2>Add a Publisher</h2>
    </div>
    <div class="card-body" style="max-width: 60rem;">
  <form class="form" [formGroup]="publisherForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label> Publisher Name</label>
      <input type="text" class="form-control" formControlName="publishername" id="publishername" required [(ngModel)]="publisher.publishername" name="publishername">
      <span class="text-danger" 
        *ngIf="(publisherFormControl.publishername.touched || submitted) && publisherFormControl.publishername.errors?.required">
        Publisher name is required
      </span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>    
  </form>
</div>
</div>
