<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Create Publisher</h2>
  </div>

  <div class="card-body">
  <form class="form" [formGroup]="publisherForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label> Publisher Name</label>
      <input type="text" class="form-control" formControlName="publishername" id="publishername" required [(ngModel)]="publisher.publishername" name="publishername">
      <span class="text-danger" 
        *ngIf="(publisherFormControl.publishername.touched || submitted) && publisherFormControl.publishername.errors?.required">
        Publisher name is required
      </span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>    
  </form>
</div>
</div>
