<h3>Create Author</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Author Name</label>
      <input type="text" class="form-control" id="authorname" required [(ngModel)]="author.authorname" name="authorname">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Author is submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newBook()">Add</button> -->
</div>