<div class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-primary" style="max-width: 60rem;">
    <div class="panel-heading" style="max-width: 60rem;">
      <h2>Add a Book</h2>
    </div>
    <div class="card-body" style="max-width: 60rem;">
  <form class="form" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label> Book Title</label>
      <input type="text" class="form-control" formControlName="title" id="title" required [(ngModel)]="book.title" name="title">
      <span class="text-danger" 
        *ngIf="(bookFormControl.title.touched || submitted) && bookFormControl.title.errors?.required">
        Title is required
      </span>
    </div>
      <div class="form-group">
      <label> Author ID</label>
      <input type="number" class="form-control" formControlName="authorid" id="author" required [(ngModel)]="book.author" name="authorid">
      <span class="text-danger" 
        *ngIf="(bookFormControl.authorid.touched || submitted) && bookFormControl.authorid.errors?.required">
        Aurthor Id is required
      </span>
      </div>
      <div class="form-group">
      <label> Publisher ID</label>
      <input type="number" class="form-control" formControlName="publisherid" id="publisher" required [(ngModel)]="book.publisher" name="publisherid">
      <span class="text-danger" 
        *ngIf="(bookFormControl.publisherid.touched || submitted) && bookFormControl.publisherid.errors?.required">
        Publisher Id is required
      </span>
      </div>
      <div class="form-group">
      <label> Date Published</label>
      <input type="text" class="form-control" formControlName="publisheddate" id="publisheddate" required [(ngModel)]="book.publisheddate" name="publisheddate">
      <span class="text-danger" 
        *ngIf="(bookFormControl.publisheddate.touched || submitted) && bookFormControl.publisheddate.errors?.required">
        Published date is required
      </span>  
      </div>  
      <div class="form-group">
      <label> Number of Pages</label>
      <input type="text" class="form-control" formControlName="pages" id="pages" required [(ngModel)]="book.pages" name="pages">
      <span class="text-danger" 
        *ngIf="(bookFormControl.pages.touched || submitted) && bookFormControl.pages.errors?.required">
        Number of pages is required
      </span>                     
      </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>    
  </form>
</div>
</div>


